button {
    font-family: Quicksand;
    border-radius: 5px;
    border-width: .8px;
}

button:hover{
    background-color: white;
}

/*will most likely need to be replaced with JS*/
button:active{
    font-weight: 600;
}

button:focus{
    border-width: 2pt;
    font-weight: 550;
}

h3 {
    font-family: Quicksand;
    font-weight: bold;
}

.options {
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

img{
    border-radius: 25px;
}
  